:root {
  --primary-color: #ff6347;
  --secondary-color: #fff;
  --font-family: 'Press Start 2P', cursive;
}

body {
  font-family: var(--font-family);
  background-color: #222;
  color: var(--secondary-color);
  text-align: center;
}

header, footer {
  background-color: var(--primary-color);
  padding: 10px;
}

nav a {
  color: var(--secondary-color);
  margin: 0 15px;
  text-decoration: none;
}

#gameArea {
  margin-top: 50px;
}

button {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
}

footer p {
  font-size: 14px;
}

form {
  margin-top: 20px;
}

label, select, input {
  margin: 5px;
}

input[type="text"], select {
  padding: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
