/* Variables CSS */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: 'Arial', sans-serif;
}

/* Styles de base */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

header, footer {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: center;
}

#gameArea {
  text-align: center;
}

button {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #27ae60;
}
